#folders#
.idea
.vscode
/target
.classpath
.project
.settings/
/movie-service-utils/jars/

# Gradle build directories and files
build/
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradlew
!gradlew.bat

# Maven build directories (legacy)
target/

# Packaged files #
#*.jar
*.war
*.ear
*.iml

